#admin-body {
	flex: 1 1 auto;
	overflow: visible;
	display: flex;
	flex-direction: row;
}

#section-right {
	min-height: 0;
	overflow: auto;
	flex-basis: auto;
}

#section-right .cus-navbar {
	display: block;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#section-right .cus-navbar  li {
	display: block;
}

#section-right .cus-navbar  li a {
	display: inline-block;
	width: 150px;
	text-decoration: none;
	color: inherit;
	height: 50px;
	background: gray;
	margin-bottom: 3px;
}

#main-content {
	overflow: auto;
	flex: 1;
	min-height: 0;
	padding: 10px;
}