/*bootstrap*/
.modal-backdrop {
	z-index: -1;
}

/*Test*/
table {
	width: 100%;
}

body {
	color: black;
}

body {
	font-size: 14px;
}

#view-port {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

#header {
	flex-basis: 50px;
	background: rgba(255, 255, 255, 0.3);
}

#site-content {
	flex: 1 1 auto;
	display: flex;
	min-height: 0;
}

#footer {
	flex-basis: 20px;
	color: white;
}

a {
	color: inherit;
}

/*
Customize datatable
*/
.cus-note-td {
	max-width: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dataTables_filter {
	padding: 5px;
}

.dataTables_filter input {
	width: 250px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	outline: none;
	padding: 6px;
}

.dataTables_filter input:focus {
	border: 1px solid #56b4ef;
	box-shadow: 0px 0px 3px 1px #c8def0;
}

/*
Customize datatable
*/
.dataTables_filter {
	padding: 5px;
}

.dataTables_filter input {
	width: 250px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	outline: none;
	padding: 6px;
}

/*Custom Classes*/
.cus-freeze {
	pointer-events: none;
	opacity: 0.4;
}

.cus-inline-block {
	display: inline-block !important;
}

.cus-table-borderless th, .cus-table-borderless td {
	border: none;
}

.display th, .display tfoot th {
	font-size: 12px;
}